.services{
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 50px;
}
.services-title{
    position: relative;
}
.services-title h1{
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
    background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
    -webkit-text-fill-color: transparent;
    color: transparent;
}
/* .services-title h1 */
.services-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.services-format{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 30px 20px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
    background: rgba(255,255,255,0.05);
}
.services-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 80px;
}
.services-format:hover h3{
    transform: scale(1.05);
    margin-left: 10px;
}
.services-container .services-format:last-child{
    /* grid-column: 2; */
}
.services-format h3{
    font-size: 50px;
    font-weight: 600;
}
.services-format h2{
    font-size: 31px;
    font-weight: 800;
    background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
    -webkit-background-clip: text;
    color: transparent;
}
.services-format p{
    color: #d1d1d1;
    font-size: 18px;
    line-height: 1.6;
    max-width: 320px;
}
.services-format p.desc{
    height: 190px;
}

.services-readmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}
.services-format:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028, #582300);
    transform: scale(1.05);
    transition: 0.4s;
}
@media(max-width:1024px){
    .services-format p{
        line-height: 1.3;
    }
    .services-format h2{
        font-size: 28px;
    }
    .services-format{
        gap: 15px;
        /* padding: 27px; */
    }
    .services-format p.desc{
        height: 220px;
    }
}
@media (max-width:768px) {
    .services{
        align-items: start;
        gap: 70px;
        margin: 20px 70px;
    }
    .services-title h1{
        padding: 0;
        font-size: 50px;
    }
    .services-title img{
        width: 130px;
        margin-right: -20px;
    }
    .services-format{
        gap: 15px;
        padding: 27px;
    }
    .services-format h2{
        font-size: 28px;
    }
    .services-format p{
        font-size: 18px;
        line-height: 1.1;
        max-width: 300px;
    }
    .services-readmore img{
        width: 20px;
    }
    .services-container{
        grid-template-columns: 1fr 1fr;
        /* gap: 30px; */
    }
}
@media(max-width:449px){
    .services{
        margin: 30px 15px;
        gap: 30px;
    }
    .services .services-title h1{
        font-size: 38px !important;
    }
    .services .services-title img{
        width: 100px;
    }
    .services .services-container{
        grid-template-columns: 1fr;
    }
    .services-format{
        gap: 10px;
        padding: 20px 15px;
    }
    .services-format p.desc{
        font-size: 17px;
    }
}