.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 0px;
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0 30px;
    font-size: 70px;
    font-weight: 600;
    background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    height: 220px;
    padding: 15px 70px;
    overflow-y: hidden;
    row-gap: 20px;
    position: relative;
    transition: height 0.5s;
}
.mywork-container.all{
    height: 460px;
}
.mywork-container img{
    box-sizing: border-box;
    transition: 0.5s;
    width: 95%;
    height: 220px;
    border: 4px solid transparent;
    border-radius: 13px;
}
.mywork-container .single-work{
    width: 100%;
    z-index: 99;
    position: relative;
}
.mywork-container.all .single-work .btn{
    bottom: 30px;
}
.mywork-container .single-work .btn{
    position: absolute;
    /* width: 80%; */
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    z-index: -1;
}
.mywork-container .single-work .btn button{
    padding: 12px 15px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background: #ff00ff;
    color: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    z-index: -1;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
}
.mywork-container .single-work:hover .btn{
    z-index: 2;
}
.mywork-container .single-work:hover img{
    transform: scale(1.05);
    border-color: #ff00ff;
    transition: 0.5s;
}
.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 20px 50px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 80px;
    transition: 0.5s;
}
.mywork-showmore:hover{
    gap: 30px;
    transition: 0.5s;
}
@media (max-width:768px){
    .mywork{
        /* gap: 50px; */
        padding: 50px 60px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .mywork-title img{
        width: 130px;
        margin-right: -20px;
    }
    .mywork-container{
        padding: 15px 10px !important;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        height: 350px;
        row-gap: 20px;
    }
    .mywork-container.all{
        height: 600px;
    }
    .mywork-container img{
        width: 100%;
        height: 100%;
    }
    .mywork-showmore{
        padding: 20px 40px;
        font-size: 18px;
        margin: 0px auto;
        cursor: pointer;
    }
    
}
@media(max-width:449px){
    .mywork{
        margin: 30px 15px;
    }
    .mywork-container {
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
        gap: 50px;
        position: relative;
        padding: 5px;
    }
    .mywork-container:hover{
        transform: scale(1.01);
    }
    .mywork .mywork-title h1{
        font-size: 38px !important;
    }
    .mywork-title img {
        width: 100px;
        bottom: 0px;
    }
    .mywork-showmore{
        margin: 20px;
        padding: 18px 28px;
    }
}