.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 70px;
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0 30px;
    font-size: 70px;
    font-weight: 600;
    background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.mywork-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    position: relative;
}
.mywork-container img{
    box-sizing: border-box;
    transition: 0.5s;
    width: 95%;
    height: 110%;
    border: 4px solid transparent;
    border-radius: 13px;
}
.mywork-container .single-work{
    width: 100%;
    position: relative;
}
.mywork-container .single-work .btn{
    position: absolute;
    /* width: 80%; */
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    z-index: -1;
}
.mywork-container .single-work .btn button{
    padding: 12px 15px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    background: #ff00ff;
    color: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    z-index: -1;
    font-size: 18px;
    transition: all 0.5s;
    cursor: pointer;
}
.mywork-container .single-work:hover .btn{
    z-index: 2;
}
.mywork-container .single-work:hover img{
    transform: scale(1.1);
    border-color: #ff00ff;
    transition: 0.5s;
}
.mywork-showmore{
    display: flex;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 20px 50px;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 80px;
    transition: 0.5s;
}
.mywork-showmore:hover{
    gap: 30px;
    transition: 0.5s;
}
@media (max-width:768px){
    .mywork{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .mywork-title img{
        width: 130px;
        margin-right: -20px;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .mywork-container img{
        width: 100%;
        height: 100%;
    }
    .mywork-showmore{
        padding: 20px 40px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
    }
    
}