.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 70px;
}
.about-title{
    position: relative;
}
.about-title h1{
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
    font-weight: 800;
    /* text-transform: uppercase; */
    background: linear-gradient(to right,  #b415ff,#df8908);
    -webkit-background-clip: text;
    color: transparent;
    position: relative;
    display: inline-block;
}
.about-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.about-sections{
    display: flex;
    align-items: center;
    gap: 30px;
}
.about-left{
    min-width: 35%;
    max-width: 42%;
    height: 500px;
}
.about-left img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: center ;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 400;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skill{
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    transition: 0.3s;
    position: relative;
}
.about-skill p{
    min-width: 230px;
    font-size: 18px;
    font-weight: 400;
}
.about-skill .line{
    width: 60%;
    background: rgba(255,255,255,.1);
    border-radius: 50px;
    position: relative;
    margin-right: 5px;
}

.about-skill .line::after{
    content: '100%';
    position: absolute;
    right: -50px;
    top: -8px;
}
.about-skill:nth-child(2) .line:after{
    content: '100%';
}
.about-skill:nth-child(3) .line:after{
    content: '100%';
}
.about-skill hr{
    outline: none;
    border: none;
    width: 50%; 
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
    position: relative;
}
.about-skill span{
    position: absolute;
    left: 95%;
    background: #b415ff;
    padding: 10px;
    font-size: 12px;
    border-radius: 30px;
    top: -50px;
    z-index: 11;
    opacity: 0;
    transition: 1s;
}
.about-skill:hover span{
    opacity: 1;
}
.about-skill span::after{
    content: '';
    position: absolute;
    top: 26px;
    left: 33%;
    background: #b415ff;
    padding: 7px;
    border-radius: 3px;
    transform: rotate(45deg);
}

.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-achievements .about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-achievement h1{
    font-size: 70px;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 50.41%, #b415ff);
    -webkit-background-clip: text;
    color: transparent;
}
.about-achievement p{
    font-size: 22px;
    font-weight: 500;
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.5s;
}
.about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
}
@media(max-width:1024px){
    .about{
        gap: 50px;
        margin: 50px;
        align-items: start;
    }
    .about-left{
        width: 50% !important;
        height: 500px;
    }
    .about-para{
        gap: 15px;
        font-size: 17px;
        font-weight: 400;
    }
    .about-skills{
        gap: 15px;
    }
    .about-skill{
        gap: 8px;
    }
    .about-skill p{
        min-width: 210px;
        font-size: 16px;
        font-weight: 400;
    }
    .about-skill .line{
        width: 50%;
        background: rgba(255,255,255,.1);
        border-radius: 50px;
        position: relative;
        margin-right: 5px;
    }

    .about-skill .line::after{
        content: '100%';
        position: absolute;
        right: -50px;
        top: -8px;
    }
    .about-skill:nth-child(2) .line:after{
        content: '100%';
    }
    .about-skill:nth-child(3) .line:after{
        content: '100%';
    }
    .about-skill hr{
        outline: none;
        border: none;
        width: 50%; 
        height: 8px;
        border-radius: 50px;
        background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
        position: relative;
    }
    .about-skill span{
        position: absolute;
        left: 95%;
        background: #b415ff;
        padding: 10px;
        font-size: 12px;
        border-radius: 30px;
        top: -50px;
        z-index: 11;
        opacity: 0;
        transition: 1s;
    }
}
@media(max-width:768px){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }
    .about-title h1{
        font-size: 50px;
        padding: 0;
    }
    .about-title img{
        width: 130px;
        right: -20px;
    }
    .about-sections{
        flex-direction: column;
    }
    .about-left{
        display: none;
    }
    .about-para{
        font-size: 18px;
        line-height: 32px;
    }
    .about-skill{
        gap: 20px;
        align-items: center;
    }
    .about-skill p{
        font-size: 20px;
    }
    .about-skill hr{
        height: 6px;
    }
    .about-achievements{
        justify-content: space-between;
    }
    .about-achievement{
        gap: 10px;
    }
    .about-achievement h1{
        font-size: 34px;
        font-weight: 700;
    }
    .about-achievement p{
        text-align: center;
        font-size: 16px;
    }
}
@media(max-width:449px){
    .about{
        margin: 30px 15px;
        gap: 20px;
    }
    .about .about-para{
        font-size: 15px;
        line-height: 25px;
    }
    .about-skills{
        margin-bottom: 20px;
    }
    .about-skill{
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-left: 0;
    }
    .about-skill .line {
        width: 80%;
    }
    .about-achievements{
        flex-direction: column;
        gap: 20px;
    }
}