.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 70px;
}
.contact-title{
    position: relative;
}
.contact-title h1{
    padding: 0 30px;
    font-size: 70px;
    font-weight: 600;
}
.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.contact-section{
    display: flex;
    gap: 100px;
}
.contact-left{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-left h1{
    font-size: 70px;
    font-weight: 700;
    background: linear-gradient(270deg, #df8908 80%, #b415ff 100%);
    -webkit-background-clip: text;
    color:transparent;
}
.contact-left p{
    max-width: 800px;
    color: #d8d8d8;
    font-size: 20px;
    line-height: 35px;
}
.contact-left .social{
    display: flex;
    gap: 15px;
    transition: all 0.5s;
}
.contact-left .social img{
    transition: transform 0.5s;
}
.contact-left .social img:hover{
    transform: scale(1.15);
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #d8d8d8;
    font-size: 22px;
}
.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.contact-right label{
    color: #d8d8d8;
    font-size: 22px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 450px;
    height: 50px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px;
}
.contact-right textarea{
    width: 420px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 20px;
}
.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 100%);
    font-size: 20px;
    padding: 15px 50px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width:768px){
    .contact{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .contact-title{
        margin: 0 auto;
    }
    .contact-title h1{
        padding: 0;
        font-size: 50px;
        font-weight: 600;
    }
    .contact-title img{
        width: 130px;
        margin-right: -20px;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 54px;
    }
    .contact-left p{
        font-size: 18px;
    }
    .contact-detail{
        gap: 20px;
    }
    .contact-detail img{
        width: 25px;
    }
    .contact-right label{
        font-size: 20px;
    }
    .contact-right input{
        width: 100%;
        font-size: 20px;
    }
    .contact-right textarea{
        width: 95%;
        font-size: 20px;
    }
    .contact-submit{
        font-size: 20px;
        padding: 15px 40px;
    }
}
@media(max-width:449px){
    .contact{
        margin: 20px 15px;
        gap: 50px;
    }
    .contact .contact-title h1{
        font-size: 38px;
    }
    .contact .contact-left{
        gap: 20px;
    }
    .contact .contact-left h1{
        font-size: 45px;
    }
    .contact-detail {
        gap: 10px;
    }
    .contact-detail p{
        font-size: 16px;
    }
    .contact-section {
        gap: 50px;
    }
    .contact-section .contact-right{
        width: 100%;
    }
    .contact-right input{
        width: 270px !important;
        padding-left: 15px;
    }
    .contact-right label{
        font-size: 18px;
    }
    .contact-right textarea{
        width: 245px !important;
        padding-left: 15px;
    }
}