.footer{
    margin: 50px 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footer-top{
    display: flex;
    justify-content: space-between;

}

.logo{
    font-family: 'Poppins', sans-serif; /* Professional look ke liye */
    font-size: 32px;
    transform: scaleY(1.5);
    font-weight: 900;
    width: 180px;
    letter-spacing: -1px;
    margin-bottom: 10px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
.logo span{
    background: linear-gradient(to right, #b827fc, #2c90fc);
    color: transparent;
    -webkit-background-clip: text;
}
/* .logo img{
    position: absolute;
    bottom: 7px;
    right: -10px;
    margin: auto;
    width: 40px;
    background-size: cover;

    height: 10px;
    z-index: -1;
} */
.footer-top-left p{
    font-size: 17px;
    max-width: 600px;
}
.footer-top-right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-email-input{
    display: flex;
    gap: 20px;
    padding-left: 20px;
    border-radius: 50px;
    background: #32323b;
    padding-right: -10px;
    transition: all 0.5s;
}
.footer-email-input input{
    outline: none;
    border: none;
    padding: 18px 10px 18px 0px !important;
    background: transparent;
    color: #a0a0a0;
    font-family: Outfit;
    font-size: 18px;
}
.footer-subscribe{
    font-size: 18px;
    padding: 16px 25px;
    border-radius: 40px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 100%);
    cursor: pointer;
    transition: 0.3s;
}
.footer-email-input img{
    margin-top: 5px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.footer-bottom a{
    color: #fff;
}
.footer-bottom-right{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}
.footer-email-input:hover{
    border: 2px solid white;
}
.footer-subscribe:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
@media(max-width:1024px){
    .footer-top-left p{
        font-size: 17px;
        max-width: 500px;
    }
    .footer-top-right{
        align-items: flex-end;
        flex-direction: column;
    }
    .footer-email-input{
        display: flex;
        gap: 20px;
        padding-left: 15px;
        border-radius: 50px;
        background: #32323b;
        padding-right: -10px;
        transition: all 0.5s;
    }
    .footer-email-input img{
        width: 25px;
        margin-right: -15px;
    }
    .footer-email-input input{
        outline: none;
        border: none;
        padding: 18px 5px 18px 0px !important;
        background: transparent;
        color: #a0a0a0;
        font-family: Outfit;
        font-size: 16px;
    }
    .footer-subscribe{
        font-size: 16px;
        padding: 12px 22px;
        border-radius: 40px;
        background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 100%);
        cursor: pointer;
        transition: 0.3s;
    }
    .footer-email-input img{
        margin-top: 5px;
    }
    .footer-bottom{
        font-size: 16px;
    }
}
@media(max-width:768px){
    .footer{
        margin: 50px 70px;
    }
    .footer-top{
        flex-direction: column;
        gap: 50px;
    }
    .footer-bottom{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    .footer-top-left h1{
        margin-left: 0;       
    }
    .footer{
        margin-bottom: 0;
    }
    .footer-email-input{
        padding: 8px 20px !important;
    }
}
@media(max-width:449px){
    .footer{
        margin: 20px 15px;
    }
    .footer-top-right {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-email-input{
        gap: 5px;
        padding: 5px 7px 5px 12px !important;
    }
    .footer-email-input input{
        width: 70%;
    }
    .footer-subscribe {
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 40px;
        cursor: pointer;
        transition: 0.3s;
    }
    .footer-bottom-right p{
        font-size: 12px;
    }
    .footer-bottom .footer-bottom-left{
        font-size: 16px;
    }
    .footer-bottom .credit{
        margin-top: -20px;
        margin-bottom: 10px;
        width: 100%;
        color: ;
    }
    .footer-bottom{
        margin-bottom: 0;
    }
}